*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

.video-container{
    height: 100%;
    position: relative;
    display: flex;
    /* place-items: center; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -3;
}

.objective_heading{
    color: white;
    font-size: 3.5rem;
    letter-spacing: 7px;
}

.overlay{
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -2;
}

.buttons-container{
    position: absolute;
    left: 5rem;
    bottom: 5rem;
}

.btn{
    cursor: pointer;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    margin-left: 10px;
    letter-spacing: 2px;
    color: rgba(141, 141, 212, 0.6);
    transition: all 500ms ease;
}

.active{
    background-color: rgba(31, 12, 12, 0.5);
    color: rgba(173, 165, 165, 0.5);
}

.btn:hover{
    color: rgb(132, 132, 219);
}